<h1>Complicated af</h1>
<p>Lets break it down a little!</p>

<h2>You searched for:</h2>
<p><%= @asked_question %></p>

<p><%= @item1 %></p>
<p><%= @item2 %></p>
<p><%= @item3 %></p>
<p><%= @item4 %></p>
<p><%= @item5 %></p>
